* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background-color: #C99E87;
}

nav {
    font-size: 50px;
    text-align: center;
    background-color: #AF7C74;
    color: white;
    height: 100px;
    line-height: 100px;
}

.menu {
    background-color: pink;
}